.content {
	width: calc(60% - 10px);
	margin-right: 10px;
}

.delivery {
	display: flex;
}

.panel {
	border-radius: 10px;
	border: 2px solid rgba(124, 124, 124, 0.938);
	box-shadow: rgb(124 124 124 / 94%) 0px 2px 8px;

	position: -webkit-sticky; /* Safari */
	position: sticky;
	width: 40%;
	top: 0;
	height: 100%;
	margin-top: 20px;
	padding: 10px;
}
