.hitsOfTheWeekSlider {
	display: flex;
	height: 260px;
}

.hitsOfTheWeekSlider > a {
	text-decoration: none;
	color: black;
	height: 100%;
	width: 100%;
}

.prev,
.next {
	margin: auto;
	-webkit-user-select: none;
	user-select: none;
	cursor: pointer;
	border: 1px solid rgb(110, 110, 110);
	border-radius: 15px;
	vertical-align: baseline;
	padding: 5px;
	height: 20px;
	text-align: center;
	min-width: 20px;
}
